GOOGLE_SHEET_ID=1zd0So3--DA2VizDkA7ZLfGrO-k2g0JCpm8lIXfSnpKs
GOOGLE_SHEET_RANGE=BD!A:CG
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"